# https://cbonte.github.io/haproxy-dconv/2.3/configuration.html#2.5
global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

listen http-in
    bind *:80
    server server1 host.docker.internal:7002 maxconn 32
